.layout-text {
    font-size: 5em;
    font-family: normal;
    color: #390C14;
    -webkit-text-stroke: 0.5px darken($color: #ffffff, $amount: 0);
    margin-left: 1cm;
}

.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  