<div class="altezza-pagina">
  <div class="margin-header">
    <div class="section">
      <form [formGroup]="leadGroup" style="border-radius: 40px">
        <table cellpadding="0" cellspacing="0">
          <thead>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">COGNOME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">REGIONE</th>
            <div class="input-group">
              <tr>
                <td style="padding-right: 5px">
                  <input
                    type="search"
                    class="form-control input-search"
                    style="height: 42px"
                    placeholder="Insert ID"
                    #searchInput
                  />
                </td>
                <td style="padding-right: 2px">
                  <button
                    type="button"
                    class="btn button-search-reset"
                    style="height: 42px"
                    id="searchBtn0"
                    (click)="findOne(searchInput.value)"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-search"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                      />
                    </svg>
                  </button>
                </td>
                <td style="padding-left: 2px">
                  <button
                    class="btn button-search-reset"
                    style="height: 42px"
                    type="reset"
                    (click)="addLead()"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-arrow-clockwise"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"
                      />
                      <path
                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
            </div>
          </thead>
          <tbody>
            <ng-container formArrayName="leads">
              <ng-container
                *ngFor="let leadForm of leads.controls; let i = index"
              >
                <tr>
                  <ng-container [formGroup]="$any(leadForm)">
                    <td>
                      <fieldset [disabled]="!modificaAttiva[i]">
                        <input type="text" formControlName="id" />
                      </fieldset>
                    </td>
                    <td>
                      <fieldset [disabled]="!modificaAttiva[i]">
                        <input type="text" formControlName="nome" />
                      </fieldset>
                    </td>
                    <td>
                      <fieldset [disabled]="!modificaAttiva[i]">
                        <input type="text" formControlName="cognome" />
                      </fieldset>
                    </td>
                    <td>
                      <fieldset [disabled]="!modificaAttiva[i]">
                        <input type="text" formControlName="email" />
                      </fieldset>
                    </td>
                    <td>
                      <fieldset [disabled]="!modificaAttiva[i]">
                        <select
                          #selectRegione
                          class="form-select form-select-sm"
                          formControlName="regione"
                        >
                          <option value="Abruzzo">Abruzzo</option>
                          <option value="Basilicata">Basilicata</option>
                          <option value="Calabria">Calabria</option>
                          <option value="Campania">Campania</option>
                          <option value="Emilia-Romagana">
                            Emilia-Romagana
                          </option>
                          <option value="Friuli-Venezia-Giulia">
                            Friuli-Venezia-Giulia
                          </option>
                          <option value="Lazio">Lazio</option>
                          <option value="Liguria">Liguria</option>
                          <option value="Lombardia">Lombardia</option>
                          <option value="Marche">Marche</option>
                          <option value="Molise">Molise</option>
                          <option value="Piemonte">Piemonte</option>
                          <option value="Puglia">Puglia</option>
                          <option value="Sardegna">Sardegna</option>
                          <option value="Sicilia">Sicilia</option>
                          <option value="Toscana">Toscana</option>
                          <option value="Trendino-Alto Adige">
                            Trendino-Alto Adige
                          </option>
                          <option value="Umbria">Umbria</option>
                          <option value="Valle d'Aosta">Valle d'Aosta</option>
                          <option value="Veneto">Veneto</option>
                        </select>
                      </fieldset>
                    </td>
                    <td>
                      <button
                        type="button"
                        class="btn button-elimina"
                        (click)="remove(leadForm.value.id)"
                        id="removeBtn{{ i }}"
                        (mouseover)="onMouseOver($event)"
                        (mouseout)="onMouseOut($event)"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-person-dash-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5"
                          />
                          <path
                            d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
                          />
                        </svg>
                        Remove
                      </button>

                      <button
                        class="btn button-modifica"
                        (click)="
                          toggleModifica(i, leadForm.value.id, {
                            nome: leadForm.value.nome,
                            cognome: leadForm.value.cognome,
                            email: leadForm.value.email,
                            regione: leadForm.value.regione
                          })
                        "
                        id="updateBtn{{ i }}"
                      >
                        @if(!modificaAttiva[i]){
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-pencil-square"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"
                          />
                        </svg>
                        Modify }@else if(modificaAttiva[i]){
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-save"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1z"
                          />
                        </svg>
                        Save }
                      </button>
                    </td>
                  </ng-container>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
        <app-toast [idToast]="idInputToast"></app-toast>
      </form>
    </div>
  </div>
</div>
