.layoutButton {
    background-color: transparent;
    border-color: darken($color: #ffffff, $amount: 20);
    color: darken($color: #ffffff, $amount: 20);
    border-width: 3px;
    font-weight: bold;
}

.layout-label {
    color: darken($color: #ffffff, $amount: 20);
}

.layoutButton:hover{
    background-color: darken($color: #ffffff, $amount: 20);
    color: #390C14;
    border-color: #390C14; 
}

.layoutButton:active{
    background-color: #A94B81;
}

.layoutContainer {
    background-color: #390C14;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    justify-content: center; 
    align-items: center; 
}