<div class="container max-width">
  <div class="shadow-lg p-3 rounded layoutContainer">
    <form [formGroup]="checkoutForm" class="">
      @for (item of items; track $index) {
      <div class="form-floating mb-2">
        <input
          style="width: 100%"
          class="layoutInput layoutBorderInput form-control"
          [placeholder]="item.placeholder"
          [formControlName]="item.name"
        />
        <label class="layout-label" for="floatingInput">{{ item.label }}</label>
      </div>
      }
      <div class="form-check form-switch" style="margin-bottom: 8px">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          (change)="onCheckboxChange($event)"
        />
        <label
          style="color: white"
          class="form-check-label"
          for="flexSwitchCheckDefault"
          >Solo piste nella mia regione</label
        >
      </div>
      <div style="margin-bottom: 8px">
        <div class="col-md">
          <div class="form-floating">
            <select
              #selectRegione
              class="form-select form-select-sm"
              style="display: none"
              formControlName="regione"
            >
            @for (option of options; track $index) {
              <option [value]="option.value">{{option.value}}</option>
            }
            </select>
            <label for="selectRegione" #labelRegione style="display: none"
              >Seleziona una regione</label
            >
          </div>
        </div>
      </div>

      <button
        class="layoutButton btn btn-primary"
        (click)="create()"
        id="liveToastBtn"
      >
        ISCRIVIMI!
      </button>
      <app-toast [idToast]="idInputToast"></app-toast>
    </form>
  </div>
</div>
