h3 {
  color: #16160A;
  text-transform: initial;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

.container-logo{
  background-color: rgb(220, 219, 222, 0.1);
  border-radius: 30px;
}

div {
  text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

/* lg */
@media (max-width: 1366px) {
  h3 {
    font-size: 1.1em;
    margin-bottom: 0.5em;
  }
}

/* md */
@media (max-width: 768px) {
  // h3 {
  //   font-size: 3em;
  // }
}

/* sm */
@media (max-width: 640px) {
  h3 {
    // font-size: 3em;
  }
}

/* xs */
@media (max-width: 475px) {
  h3 {
    // font-size: 1em;
  }
}