h3 {
  color: #16160a;
  text-transform: initial;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}

div {
  text-align: center;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

@media (max-width: 1920px) {
  img {
    max-width: 90%;
  }
  h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
  }
}

/* lg MIO PC*/
@media (max-width: 1680px) {
  img {
    max-width: 100%;
  }
  h3 {
    font-size: 1.8em;
    margin-bottom: 1em;
  }
}

/* md */
@media (max-width: 1440px) {
  h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
  }
}

/* sm */
@media (max-width: 1024px) {
  h3 {
    font-size: 1em;
    margin-bottom: 1em;
  }
}


