<div class="container-fluid background">
  <div class="row altezza-pagina">
    <div class="row h-25">
      <div class="col-sm-2 pt-3 ps-4 ">
        <img src="/assets/images/logo-transparent-png.png" class="WidthLogo" />
      </div>
      <div class="col-sm-10"></div>
    </div>

    <div class="row h-50">
      <div class="col-7">
        <app-call-to-action></app-call-to-action>
      </div>
      <div class="col-5 center"> 
        <app-form [figlio]="figlio" (eventOutput)="risposta()"></app-form>
      </div>
    </div>
    <div class="row h-25">
      <div class="col"></div>
    </div>
    
    <!-- <div>
      <img src="/assets/images/logo-transparent-png.png" class="WidthLogo" />
    </div> -->
  <div class="back-video">
     <video autoplay muted loop class="w-100">
      <source src="/assets/images/videoLanding.webm" type="video/webm">
    </video>
  </div>
</div>

