.padding {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 90px;
  padding-bottom: 70px;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  min-height: 100vh;
}
.lambo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  min-height: 100vh;
}
.col-call-form {
  margin-top: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 30px;
  justify-content: center;
  align-items: start;
  height: fit-content;
  background-color: rgb(220, 219, 222, 0.1);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
}

/* md */
@media (max-width: 768px) {
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}

