<section class="overflow-hidden padding" style="height: 100vh">
    <img src="assets/images/Lamb_Nera_BGW.png" class="background" />
    <img src="assets/images/Lamb_Nera_Ombra.png" class="lambo" />
  <div class="container-flex " style="height: 100%">
    <div class="row" style="height: 100%">
      <div class="col-sm-12 col-md-12 col-lg-6 align-items-start">
        <app-logo></app-logo>
      </div>
      <div class="col-sm-0 col-md-0 col-lg-2"></div>
      <div
        class="col-sm-12 col-md-12 col-lg-4 shadow-lg col-call-form"
      >
        <app-call-to-action></app-call-to-action>
        <app-form [figlio]="pippo" (eventOutput)="risposta()"></app-form>
      </div>
    </div>
  </div>
</section>
