<div class="container-fluid BackGround">
  <div class="row h-100">
    <div class="row h-25">
      <div class="col-sm-2 pt-3 ps-4 ">
        <img src="/assets/images/logo-transparent-png.png" class="WidthLogo" />
      </div>
      <div class="col-sm-10"></div>
    </div>

    <div class="row h-50">
      <div class="col-4">
         </div>
         <div class="col-5">
        </div>
      <div class="col-3 "> 
        <app-form [figlio]="figlio" (eventOutput)="risposta()"></app-form>
      </div>
    </div>
    <div class="row h-25">
      <div class="col"></div>
    </div>

  </div>
</div>
<div>
    
</div>
